body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: black;
}
.formDivBox {
    min-height: 400px;
    width: 400px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #555;
}
.options {
    margin-bottom: 15px;
}